@font-face {
    font-family: "Helvetica Bold";
    src: url(../Fonts/Helvetica-Bold.woff2);
    font-weight: bold;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Bold", Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -.01rem;

    padding: 1rem;
    margin: 0;

    display: flex;
    justify-content: flex-end;

/*     min-width: 1000px; */
    overflow-x: hidden;

    background-color: hsl(0, 0%, 90%);
}

div#intro {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;

    background-color: hsl(0, 0%, 90%);
    opacity: 1;

    z-index: 999;
    transition: opacity .5s ease-in;
    pointer-events: none;
}


/* SIDEBAR */


div.sidebar {
    position: fixed;
    height: calc(100dvh - 2rem);
    height: calc(100vh - 2rem);
    width: min-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    left: 0;
    top: 0;
    padding: 1rem;
    padding-left: .5rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    z-index: 100;
    transition: padding-left .5s ease-in-out;
}

div#menu-icon {
    display: none;
}

img.sidebar-spine {
    position: absolute;
    height: calc(100dvh - 2rem);
    height: calc(100vh - 2rem);
}

div.logo-container {
    position: absolute;
    width: min-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    height: min-content;
    height: -webkit-min-content;
    height: -moz-min-content;
    top: -1rem;
}

img.logo {
    position: relative;
    height: 20vh;
    width: auto;
    object-fit: contain;
    -o-object-fit: contain;
    mix-blend-mode: overlay;
}

img.logo:hover {
    mix-blend-mode: normal;
}


div.nav-bar {
    position: relative;
    width: min-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    top: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

div.nav-bar a {
    position: relative;
    width: min-content;
    width: -webkit-min-content;
    width: -moz-min-content;

    text-decoration: none;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: -0.02rem;
    text-align: center;
    white-space: nowrap;

    color: black;

    cursor: pointer;
}

div.nav-bar a:hover {
    width: calc(min-content + 1rem);
    width: calc(-webkit-min-content + 1rem);
    width: calc(-moz-min-content + 1rem);

    background-color: white;
}


/* FEED */


div.feed {
    position: absolute;
    width: 85vw;
/*     width: 85vw;
    width: 85%; */

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    row-gap: 8rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

div.padding {
    position: relative;
    height: 1rem;
    flex-basis: 100%;
}

div.article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

div.article img {
    position: relative;
    -o-object-fit: contain;
    object-fit: contain;
    max-height: 90vh;
    max-width: min-content;
    max-width: -webkit-min-content;
}

div.feed-space {
    position: relative;
    width: 100%;
    min-height: 2rem;
}

/* CAPTIONS */

div#caption-frame {
    position: fixed;
/*     width: 85dvw; */
    width: 85vw;
    height: calc(100vh - 6rem);
    max-height: calc(100vh - 6rem);

    display: flex;
    flex-flow: row nowrap;
    row-gap: 1rem;
    justify-content: space-around;
    align-items: flex-end;

    z-index: 10;
    bottom: 4rem;
}

div.caption-container {
    position: relative;
    height: 100dvh;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

div.caption {
    position: relative;
    height: min-content;

    display: flex;
    justify-content: center;
    column-gap: 1rem;
    -moz-column-gap: 1rem;
}

div.caption p {
    margin: 0;
    height: min-content;

    font-size: .75rem;
    font-family: "Helvetica Bold", Arial, Helvetica, sans-serif;
    color: black;
    text-transform: uppercase;

    background-color: white;
    white-space: nowrap;
    text-align: center;
}

@media screen and (max-width: 850px) {

    div.feed, div#caption-frame {
        width: calc(100vw - 2rem);
    }

    div.feed {
        padding-top: 3rem;
    }

    @keyframes sidebar {
        0% {transform: translate(-30%);}
        100% {transform: translate(0%);}
    }


    #sidebar {
        display: none;
        height: calc(100dvh - 2rem);
        height: calc(100vh - 2rem);
        height: -webkit-fill-available;
/*         top: 50%;
        transform: translate(0, -50%); */
        padding-left: .4rem;
    }

    #sidebar.active {
        display: flex;
        height: calc(100dvh - 2rem);
/*         top: 50%;
        transform: translate(0, -50%); */
        padding-left: .4rem;
        animation: sidebar .3s ease-in-out;
    }

    div#menu-icon {
        display: block;
        position: fixed;
        top: 1rem;
        left: .5rem;
        width: 3rem;
        height: rem;

        display: grid;
        grid-template-rows: 1fr 2fr 1fr 2fr 1fr;

        z-index: 98;
/*         background-color: black;
 */        cursor: pointer;
    }

    .burgermenu {
        width: 100%;
    }

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: .9;}
    }

    div.sidebar-background {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100vw;
        min-height: 100vh;
        background-color: white;
        opacity: .9;
        z-index: 99;

        animation: fadeIn .2s ease-in-out;
    } 

    img.sidebar-spine {
        height: calc(100dvh - 2rem);
        height: calc(100vh - 2rem);
        height: -webkit-fill-available;
    }
    
    div.nav-bar a {
        font-size: 1rem;
        line-height: 1rem;
    }



    div.article {
        flex-basis: 100%;
    }
    
    div.caption {
        flex-flow: row wrap;
        max-width: 50ch;
        row-gap: .25rem;
    }
}